
<Reporter>
  <Source type="WebSource" name="all" url="https://meri.cloudapp.net/api/tasks/">
    <Parser type="json">
      <field name="Id" />
      <field name="Name">HDStressRegularRun</field>
    </Parser>
  </Source>
  
  <Rule name="HDStressRegularRun" type="single" maxcount="-1" />
  
  <Process type="SaveToTxt">
    <Path>D:\Log\</Path>
    <FileName>MeriTask</FileName>
    <Content>
      <Item type="list" rule="HDStressRegularRun" orderby="CreateTime" desc="true">
        $$Name$$, $$Id$$, $$CreateTime$$
      </Item>
    </Content>
  </Process>
</Reporter>

<!--
< &lt;
> &gt;
& &amp;
' &apos;
" &quot;
-->